
<launch>
  <arg name="serial_no"             default=""/>
  <arg name="json_file_path"        default=""/>
  <arg name="camera"                default="camera"/>
  
  <arg name="rgb_topic"         default="/camera/color/image_raw"/>
	<arg name="depth_topic"       default="/camera/depth/image_rect_raw"/>
	<arg name="camera_info_topic" default="/camera/color/camera_info"/>

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="json_file_path"    value="$(arg json_file_path)"/>
      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_gyro"       value="false"/>
      <arg name="enable_accel"      value="false"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
    </include>

  </group>
  
  <!-- throttle data -->
  <node name="camera_throttler_rgb" type="throttle" pkg="topic_tools" args="messages /camera/color/image_raw/compressed 4 /camera/color/image_raw/compressed_throttled" />
  <node name="camera_throttler_depth" type="throttle" pkg="topic_tools" args="messages /camera/depth/image_rect_raw/compressed 4 /camera/depth/image_rect_raw/compressed_throttled" />

  <!-- launch python -->
  <node name="camera_detection" pkg="camera_module" type="test_scripts.py" />
</launch>